:root {
  /* Colors */
  --color-bg: #0f0f0f;
  --color-text: #f5f5f5;
  --color-primary: #151F2B;
  --color-secondary: #273445;
  --color-thenary: #808da53d;

  /* Typography */
  --font-primary: system-ui, sans-serif;

  /* Spacing */
  --spacing-xs: 0.5rem;
  --spacing-sm: 1rem;
  --spacing-md: 2rem;
  --spacing-lg: 4rem;
  --spacing-xl: 8rem;
}
